body{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #c8d0cf;
  color: #3b4648
}

strong{
  font-weight: 700;
}

.logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #41d025 !important;
}

.navbar{
  background: #3b4648;
  border: none;
  border-radius:0;
  -webkit-box-shadow: 0px 2px 2px 0px #A4AAAB ;
  -moz-box-shadow:    0px 2px 2px 0px #A4AAAB ;
  box-shadow:         0px 2px 2px 0px #A4AAAB ;
}

.center-block {
  display: block;
  margin-left: auto;
  float:none;
  margin-right: auto;
}

.panel{
  /*border: #A4AAAB solid 1px;*/
  border-radius: 0;
-webkit-box-shadow: 0px 3px 3px 0px #A4AAAB ;
-moz-box-shadow:    0px 3px 3px 0px #A4AAAB ;
box-shadow:         0px 3px 3px 0px #A4AAAB ;

}

.panel-body{
  background: #E9EDEC;
}
