body{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background: #c8d0cf;
  color: #3b4648;
  letter-spacing: .5px;
}

strong{
  font-weight: 600;
}

.logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #41d025 !important;
}

.navbar{
  background: #3b4648;
  border: none;
  border-radius:0;
  -webkit-box-shadow: 0px 2px 2px 0px #A4AAAB ;
  -moz-box-shadow:    0px 2px 2px 0px #A4AAAB ;
  box-shadow:         0px 2px 2px 0px #A4AAAB ;
}

.center-block {
  display: block;
  margin-left: auto;
  float:none;
  margin-right: auto;
}

.panel{
  /*border: #A4AAAB solid 1px;*/
  border-radius: 0;
  -webkit-box-shadow: 0px 3px 3px 0px #A4AAAB ;
  -moz-box-shadow:    0px 3px 3px 0px #A4AAAB ;
  box-shadow:         0px 3px 3px 0px #A4AAAB ;

}

.panel-body{
  background: #E9EDEC;
  padding-left: 0em;
  padding-top: .8em;
  padding-bottom: .2em;
}

.padding-bottom{
  padding-bottom: .5em;
}

.padding-left{
  padding-left: 2em
}

.fa{
  color:#b8b9b8;
}

.user-notification-avatar{
  padding-top: .6em;
  margin-left: 1.2em;
}
