/**
*
* Button
*
**/

@mixin button($color) {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border-radius: $borderRadius;
  background: $color;
  color: #fff;
  font-size: $fontSmall;
  margin-top: $lineHeight;
}

.button--primary {
  @include button($colorBlue);
}

.button--secondary {
  @include button($colorGrayLight);
}
